<h1>Demo#index</h1>
<p>Hi, this is the hello html file</p>
<%= 1 + 1%>

ID: <%= @id %><br />
Next page: <%= @page + 1 %><br />

<%	target = "world" %><br />
<%= "Hello #{target}" %><br />

<% @array.each do |n| %>
	<%= n %><br />
<% end %> 


<%= link_to("my first link", {:action => 'index'}) %>

<hr />

<%= params.inspect %>
