<% @page_title = "Admin Menu" %>

<div class="menu">
	<%= link_to("Logout", {:action => 'logout'}, :class => 'btn logout-btn') %>
	<%= link_to("To Visitor Site", {:controller => 'public'}, :class => 'btn to-visitor-btn') %>

	<h2 id="menu-title">Admin Menu</h2>
	<div class="identity">Logged in as: <%= session[:username] %></div>
	
	<ul class="manage-buttons">

		<li><%= link_to("Manage Content", {:controller => 'subjects'}, :class => 'btn btn-large btn-block btn-info') %></li>
		<li><%= link_to("Manage Admin Users", {:controller => 'admin_users'}, :class => 'btn btn-large btn-block btn-info') %></li>		
	</ul>
</div>
