<% @page_title = "Sections List" %>

<%= link_to("<< Back to Pages List", pages_path(:subject_id => @page.subject_id), :class => 'btn btn-link') %>

<div class="section list">
	<h2 class="title">Sections</h2>

	<%= link_to("Add New Section", new_section_path(:page_id => @page.id), :class => 'action new btn create-btn' ) %>

	<div> <%= pluralize(@sections.size, 'section') %> found </div>	

	<table class="listing" summary="Section list">
		<tr>
			<th>&nbsp;</th>
			<th>Section</th>
			<th>Visible</th>
			<th class="actions-title">Actions</th>
		</tr>
		<% @sections.each do |section| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= section.position  %></td>
			<td><%= section.name.capitalize  %></td>
			<td class="center"><%= status_tag(section.visible) %></td>
			<td class="actions btn-group">
				<%=  link_to("Show", section_path(section.id, :page_id => @page.id), :class => 'action btn') %>
				<%=  link_to("Edit", edit_section_path(section.id, :page_id => @page.id), :class => 'action edit btn') %>
				<%=  link_to("Delete", delete_section_path(section.id, :page_id => @page.id), :class => 'action delete btn btn-warning') %>
			</td>

		</tr>
		<% end %>
	</table>
</div>