<% @page_title = "Pages List" %>

<%=  link_to("<< Back to Subjects List", {:controller => 'subjects', :action => 'list'}, :class => 'btn btn-link') %>

<div class="page list">
	<h2 class="title">Pages</h2>

	<%= link_to("Add New Page", {:action => 'new', :subject_id => @subject.id}, :class => 'action new btn create-btn' ) %>

	<div class="query-result-title"> <%= pluralize(@pages.size, 'page') %> found </div>

	<table class="listing" summary="Page list">
		<tr>
			<th>&nbsp;</th>
			<th>Page</th>
			<th>Visible</th>
			<th>Sections</th>
			<th class="actions-title">Actions</th>
		</tr>
		<% @pages.each do |page| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= page.position  %></td>
			<td><%= page.name.capitalize  %></td>
			<td class="center"><%= status_tag(page.visible) %></td>
			<td class="center"><%= page.sections.size  %></td>
			<td class="actions btn-group">
				<%= link_to("View Sections", {:controller => 'sections', :action => 'list', :page_id => page.id}, :class => 'action btn') %>
				<%=  link_to("Show", {:action => 'show', :id => page.id, :subject_id => @subject.id}, :class => 'action btn') %>
				<%=  link_to("Edit", {:action => 'edit', :id => page.id, :subject_id => @subject.id}, :class => 'action edit btn') %>
				<%=  link_to("Delete", {:action => 'delete', :id => page.id, :subject_id => @subject.id}, :class => 'action delete btn btn-warning') %>
			</td>

		</tr>
		<% end %>
	</table>
</div>