<% @page_title = "Pages List" %>

<%=  link_to("<< Back to Subjects List", subjects_path, :class => 'btn btn-link') %>

<div class="page list">
	<h2 class="title">Pages</h2>

	<%= link_to("Add New Page", new_page_path(:subject_id => @subject.id), :class => 'action new btn create-btn' ) %>

	<div class="query-result-title"> <%= pluralize(@pages.size, 'page') %> found </div>

	<table class="listing" summary="Page list">
		<tr>
			<th>&nbsp;</th>
			<th>Page</th>
			<th>Visible</th>
			<th>Sections</th>
			<th class="actions-title">Actions</th>
		</tr>
		<% @pages.each do |page| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= page.position  %></td>
			<td><%= page.name.capitalize  %></td>
			<td class="center"><%= status_tag(page.visible) %></td>
			<td class="center"><%= page.sections.size  %></td>
			<td class="actions btn-group">
				<%= link_to("View Sections", sections_path(:page_id => page.id), :class => 'action btn') %>
				<%=  link_to("Show", page_path(page.id, :subject_id => @subject.id), :class => 'action btn') %>
				<%=  link_to("Edit", edit_page_path(page.id, :subject_id => @subject.id), :class => 'action edit btn') %>
				<%=  link_to("Delete", delete_page_path(page.id, :subject_id => @subject.id), :class => 'action delete btn btn-warning') %>
			</td>

		</tr>
		<% end %>
	</table>
</div>