<% @page_title = "Subjects List" %>

<%= link_to("<< Back to Main Menu", {:controller => 'access', :action => 'menu'}, :class => 'btn btn-link') %>

<div class="subject list">
	<h2 class="title">Subjects</h2>

	<%= link_to("Add New Subject", new_subject_path, :class => 'action new btn create-btn' ) %>

	<div class="list query-result-title"> <%= pluralize(@subjects.size, 'subject') %> found </div>
	
	<table class="listing" summary="Subject list">
		<tr>
			<th>&nbsp;</th>
			<th>Subject</th>
			<th>Visible</th>
			<th>Pages</th>
			<th class="actions-title">Actions</th>
		</tr>
		<% @subjects.each do |subject| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= subject.position  %></td>
			<td><%= subject.name.capitalize  %></td>
			<td class="center"><%= status_tag(subject.visible) %></td>
			<td class="center"><%= subject.pages.size  %></td>
			<td class="actions btn-group">
				<%= link_to("View Pages", pages_path(:subject_id => subject.id), :class => 'action btn') %>
				<%=  link_to("Show", subject_path(subject.id), :class => 'action btn') %>
				<%=  link_to("Edit", edit_subject_path(subject.id), :class => 'action edit btn') %>
				<%=  link_to("Delete", delete_subject_path(subject.id), :class => 'action delete btn btn-warning') %>
			</td>

		</tr>
		<% end %>
	</table>
</div>