<% @page_title = "Admin Users List" %>


<p><%= link_to("<< Back to main menu", {:controller => 'access', :action => 'menu'}, :class => "btn btn-link") %> <br /></p>


<div class="admin_users list">
	<h2 class="title">Admin Users</h2>

	

	<p><%= link_to("Create New Admin User", new_admin_user_path, :class => 'action new btn create-btn') %></p>

	<div class="query-result-title"><%= pluralize(@admin_users.size, 'admin user') %> found</div>

	<table summary="Admin Users">
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>Email</th>
			<th class="actions-title">Actions</th>
		</tr>

		<% @admin_users.each do |admin_user| %>
		<tr class="<%= cycle('odd', 'even') %>">
			<td><%= admin_user.username %></td>
			<td><%= admin_user.name %></td>
			<td><%= mail_to(admin_user.email) %></td>
			<td  class="actions btn-group">
				<%= link_to("edit", edit_admin_user_path(admin_user.id), :class => 'btn action edit') %>
				<%= link_to("delete", delete_admin_user_path(admin_user.id), :class => 'btn btn-warning action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
	
</div>
